@page
@model ProjectPRN221.Pages.Product.DetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div style="height:300px; margin-top:50px;">
    <div style="float: left;width: 30%;height: 300px; text-align:center;">
        <img style="width:200px; height:250px; margin: 25px 0;" src="~/img/1.jpg"/>
    </div>
    <div style="height: 300px; display:grid;background-color:aliceblue;" >
        <div style="margin: 25px 0 0 10px; font-weight:bold;">@Model.Product.ProductName</div>
        <div style="margin: 25px 0 0 10px;">
            <span style="font-weight:bold;">
                Price:
            </span> 
            <span>
                @Model.Product.UnitPrice
            </span>
            </div>
        <div style="margin: 25px 0 0 10px;">
            <span style="font-weight:bold;">
                Category:
            </span>
            <span>
                @Model.Product.Category.CategoryName
            </span>
            </div>
        <div style="margin: 25px 0 0 10px; display:flex;">
            <div style="font-weight:bold;">
                Quantity:
            </div>
            <form style="margin:0 20px;">
                <input type='button' value="-"  />
                <input type='text' value="0" style="width:60px; text-align:center;"/>
                <input type='button' value="+"  />
            </form>
        </div>
        <div>
            @if (HttpContext.Session.GetString("admin") == null)
            {
                <input type="submit" value="Add to cart" style="margin: 25px 0 0 10px;" />
            }
            
        </div>
    </div>
</div>
<h4 style="margin-top: 50px;">
    Description @if (HttpContext.Session.GetString("admin") != null)
    {
        <a class="btn btn-primary" asp-page="./Update" asp-route-id="@Model.Product.ProductId">Update</a>
    }
</h4>

<div class="col-md-12" style=" background-color:antiquewhite; height:fit-content; padding-left: 30px; margin-right: auto;padding-bottom:150px;">
    @Html.Raw(Model.Product.Description)
</div>