@page "{pageNumber:int?}"
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model ProjectPRN221.Pages.EmployeesManager.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Employee List";
}

<h2>@ViewData["Title"]</h2>
<div>
    <a asp-page="EmpCreate">Create New Employee</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>First Name</th>
            <th>Title</th>
            <th>Title of Courtesy</th>
            <th>Hire Date</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>
            <th>Postal Code</th>
            <th>Country</th>
            <th>Home Phone</th>
            <th>Extension</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.ListEmployee)
        {
            <tr>
                <td><a asp-page="EmpDetail" asp-route-id="@employee.EmployeeId">@employee.EmployeeId</a></td>
                <td>@employee.LastName</td>
                <td>@employee.BirthDate</td>
                <td>@employee.FirstName</td>
                <td>@employee.Title</td>
                <td>@employee.TitleOfCourtesy</td>
                <td>@employee.HireDate</td>
                <td>@employee.Address</td>
                <td>@employee.City</td>
                <td>@employee.Region</td>
                <td>@employee.PostalCode</td>
                <td>@employee.Country</td>
                <td>@employee.HomePhone</td>
                <td>@employee.Extension</td>
                <td>
                    <a asp-page="EmpEdit" asp-route-id="@employee.EmployeeId">Edit Employee</a>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@employee.EmployeeId" onsubmit="return confirm('Are you sure you want to delete this employee?');">
                        <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model.ListEmployee, page => Url.Page("Index", new { pageNumber = page }), new PagedListRenderOptions { LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link" } })
</div>

